@import "global.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.2;
}

header {
  background: var(--color-black);
}

h1 {
  text-align: center;
  color: var(--color-white);
  line-height: 1.4;
  margin: 0;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding-block: 16px;
}

h2 {
  letter-spacing: 0.025em;
}

strong {
  color: var(--color-orange);
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 16px;
  width: min(1000px, 100%);
  margin: 0 auto;
}

article {
  flex: 1 200px;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 10px;
  background-color: var(--color-orange);
  border-radius: var(--border-radius-def);
}

figcaption {
  color: var(--color-white);
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

a {
  display: inline-block;
  font-size: smaller;
  padding: 8px;
  border-radius: var(--border-radius-def);
  background-color: var(--color-orange);
  color: var(--color-white);
}

a:hover,
a:focus-visible {
  background-color: var(--color-black);
  text-decoration: none;
}

mark {
  background-color: var(--color-orange);
  color: #ffffff;
  border-radius: var(--border-radius-def);
  letter-spacing: 0.025em;
}

::selection {
  background-color: var(--color-black);
  color: var(--color-orange);
}
